<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.my_ebook.mapper.OrderMapper">
    <resultMap id="orderMap" type="Order">
        <id column="id" property="ID"/>
        <result column="order_id" property="orderID"/>
        <result column="order_status" property="orderStatus"/>
        <result column="receiver" property="receiver"/>
        <result column="receiving_addr" property="recevingAddr"/>
        <result column="phone" property="phone"/>
        <result column="delivery" property="delivery"/>
        <result column="post_status" property="postStatus"/>
        <result column="pay_status" property="payStatus"/>
        <result column="order_date" property="orderDate"/>
        <result column="remark" property="remark"/>
        <result column="order_mount" property="orderMount"/>
        <result column="total_price" property="totalPrice"/>
        <association property="customer" javaType="Customer" column="customer_id"
                     select="com.my_ebook.mapper.CustomerMapper.getById"/>
        <collection property="orderItemList" ofType="OrderItem" column="id"
                    select="com.my_ebook.mapper.OrderItemMapper.selectByOrderId"/>
    </resultMap>

    <sql id="base_column_list">
        id,customer_id,order_id,order_status,receiver,receiving_addr,phone,delivery,post_status,pay_status,
        order_date,remark,order_mount,total_price
    </sql>

    <insert id="insert" parameterType="Order" useGeneratedKeys="true" keyProperty="ID">
        insert into tb_order(customer_id,order_id,order_status,receiver,receiving_addr,phone,delivery,post_status,pay_status,
        order_date,remark,order_mount,total_price)
        value (#{customer.ID,jdbcType=INTEGER},#{orderID,jdbcType=VARCHAR},#{orderStatus,jdbcType=INTEGER},#{receiver,jdbcType=VARCHAR},
        #{recevingAddr,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{delivery,jdbcType=INTEGER},#{postStatus,jdbcType=INTEGER},
        #{payStatus,jdbcType=INTEGER},#{orderDate,jdbcType=TIMESTAMP},#{remark,jdbcType=VARCHAR},#{orderMount,jdbcType=INTEGER},
        #{totalPrice,jdbcType=DOUBLE});
    </insert>
    <update id="update">
        update tb_order
        <set>
            <if test="order.customer != null and order.customer.ID != nulll">
                customer_id=#{order.customer.ID,jdbcType=INTEGER},
            </if>
            <if test="order.orderID != null">
                order_id=#{order.orderID,jdbcType=VARCHAR},
            </if>
            <if test="order.orderStatus != null">
                order_status=#{order.orderStatus,jdbcType=INTEGER},
            </if>
            <if test="order.receiver != null">
                receiver=#{order.receiver,jdbcType=VARCHAR},
            </if>
            <if test="order.recevingAddr != null">
                receiving_addr=#{order.recevingAddr,jdbcType=VARCHAR},
            </if>
            <if test="order.phone != null">
                phone=#{order.phone,jdbcType=VARCHAR},
            </if>
            <if test="order.delivery != null">
                delivery=#{order.delivery,jdbcType=INTEGER},
            </if>
            <if test="order.postStatus != null">
                post_status=#{order.postStatus,jdbcType=INTEGER},
            </if>
            <if test="order.payStatus != null">
                pay_status=#{order.payStatus,jdbcType=INTEGER},
            </if>
            <if test="order.orderDate != null">
                order_Date=#{order.orderDate,jdbcType=TIMESTAMP},
            </if>
            <if test="order.remark != null">
                remark=#{order.remark,jdbcType=VARCHAR},
            </if>
            <if test="order.orderMount != null">
                order_mount=#{order.orderMount,jdbcType=INTEGER},
            </if>
            <if test="order.totalPrice != null">
                total_price=#{order.totalPrice,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{order.ID}
    </update>

    <delete id="deleteById" parameterType="integer">
        delete from tb_order where id=#{id,jdbcType=INTEGER};
    </delete>

    <delete id="deleteByorderId" parameterType="String">
        delete from tb_order where order_id=#{orderId,jdbcType=VARCHAR};
    </delete>

    <delete id="deleteByCustomerId">
        delete  from tb_order where customer_id=#{customerId,jdbcType=INTEGER};
    </delete>

    <select id="selectBycustomerid" resultMap="orderMap">
        select
            <include refid="base_column_list"></include>
        from tb_order
        where customer_id=#{customerId,jdbcType=INTEGER};
    </select>

    <select id="select" resultMap="orderMap">
        select
        <include refid="base_column_list"></include>
        from tb_order
        <if test="order != null">
            <where>
                <if test="order.customer != null and order.customer.ID != null">
                    and customer_id=#{order.customer.ID,jdbcType=INTEGER}
                </if>
                <if test="orderID != null">
                    and order_id=#{order.orderID,jdbcType=VARCHAR}
                </if>
                <if test="orderStatus != null">
                    and order_status=#{order.orderStatus,jdbcType=INTEGER}
                </if>
                <if test="receiver != null">
                    and receiver=#{order.receiver,jdbcType=VARCHAR}
                </if>
                <if test="recevingAddr != null">
                    and receiving_addr=#{order.recevingAddr,jdbcType=VARCHAR}
                </if>
                <if test="phone != null">
                    and phone like #{order.phone,jdbcType=VARCHAR}"%"
                </if>
                <if test="delivery != null">
                    and delivery=#{order.delivery,jdbcType=INTEGER}
                </if>
                <if test="postStatus != null">
                    and post_status=#{order.postStatus,jdbcType=INTEGER}
                </if>
                <if test="payStatus != null">
                    and pay_status=#{order.payStatus,jdbcType=INTEGER}
                </if>
                <if test="orderDate != null">
                    and order_Date=#{order.orderDate,jdbcType=TIMESTAMP}
                </if>
                <!--                <if test="remark != null">-->
                <!--                    and rem#{remark,jdbcType=VARCHAR}-->
                <!--                </if>-->
                <if test="orderMount != null">
                    and order_mount=#{order.orderMount,jdbcType=INTEGER}
                </if>
                <if test="totalPrice != null">
                    and total_price=#{order.totalPrice,jdbcType=DOUBLE}
                </if>
            </where>
        </if>
        <if test="page != null">
            limit #{page.pageStart},#{page.pageSize}
        </if>
    </select>
    <select id="count" resultType="java.lang.Integer">
        select
        count(*)
        from tb_order
        <if test="order != null">
            <where>
                <if test="order.customer != null and order.customer.ID != null">
                    and customer_id=#{order.customer.ID,jdbcType=INTEGER}
                </if>
                <if test="orderID != null">
                    and order_id=#{order.orderID,jdbcType=VARCHAR}
                </if>
                <if test="orderStatus != null">
                    and order_status=#{order.orderStatus,jdbcType=INTEGER}
                </if>
                <if test="receiver != null">
                    and receiver=#{order.receiver,jdbcType=VARCHAR}
                </if>
                <if test="recevingAddr != null">
                    and receiving_addr=#{order.recevingAddr,jdbcType=VARCHAR}
                </if>
                <if test="phone != null">
                    and phone like #{order.phone,jdbcType=VARCHAR}"%"
                </if>
                <if test="delivery != null">
                    and delivery=#{order.delivery,jdbcType=INTEGER}
                </if>
                <if test="postStatus != null">
                    and post_status=#{order.postStatus,jdbcType=INTEGER}
                </if>
                <if test="payStatus != null">
                    and pay_status=#{order.payStatus,jdbcType=INTEGER}
                </if>
                <if test="orderDate != null">
                    and order_Date=#{order.orderDate,jdbcType=TIMESTAMP}
                </if>
                <!--                <if test="remark != null">-->
                <!--                    and rem#{remark,jdbcType=VARCHAR}-->
                <!--                </if>-->
                <if test="orderMount != null">
                    and order_mount=#{order.orderMount,jdbcType=INTEGER}
                </if>
                <if test="totalPrice != null">
                    and total_price=#{order.totalPrice,jdbcType=DOUBLE}
                </if>
            </where>
        </if>
    </select>
    <!--    查询时间段内的订单-->
    <select id="selectInStartAndEnd" resultMap="orderMap">
        select
        <include refid="base_column_list"></include>
        from tb_order
        <where>
            <if test="order != null">
                <if test="order.customer != null and order.customer.ID != null">
                    and customer_id=#{order.customer.ID,jdbcType=INTEGER}
                </if>
                <if test="order.orderID != null">
                    and order_id=#{order.orderID,jdbcType=VARCHAR}
                </if>
                <if test="order.orderStatus != null">
                    and order_status=#{order.orderStatus,jdbcType=INTEGER}
                </if>
                <if test="order.receiver != null">
                    and receiver=#{order.receiver,jdbcType=VARCHAR}
                </if>
                <if test="order.recevingAddr != null">
                    and receiving_addr like #{order.recevingAddr,jdbcType=VARCHAR}"%"
                </if>
                <if test="order.phone != null">
                    and phone like #{order.phone,jdbcType=VARCHAR}"%"
                </if>
                <if test="order.delivery != null">
                    and delivery=#{order.delivery,jdbcType=INTEGER}
                </if>
                <if test="order.postStatus != null">
                    and post_status=#{order.postStatus,jdbcType=INTEGER}
                </if>
                <if test="order.payStatus != null">
                    and pay_status=#{order.payStatus,jdbcType=INTEGER}
                </if>
                <if test="order.orderDate != null">
                    and order_Date=#{order.orderDate,jdbcType=TIMESTAMP}
                </if>
                <!--                <if test="remark != null">-->
                <!--                    and rem#{remark,jdbcType=VARCHAR}-->
                <!--                </if>-->
                <if test="order.orderMount != null">
                    and order_mount=#{order.orderMount,jdbcType=INTEGER}
                </if>
                <if test="order.totalPrice != null">
                    and total_price=#{order.totalPrice,jdbcType=DOUBLE}
                </if>
            </if>
            <if test="start != null">
                <![CDATA[ and order_Date >= str_to_date(#{start},'%Y-%m-%d %r')]]>
            </if>

            <if test="end != null">
                <![CDATA[ and order_Date <= str_to_date(#{end},'%Y-%m-%d %r')]]>

            </if>
        </where>
        order by order_date desc
        <if test="page != null">
            limit #{page.pageStart},#{page.pageSize}
        </if>
    </select>
    <select id="countIntStartAndEnd" resultType="java.lang.Integer">
        select
        count(*)
        from tb_order
        <where>
            <if test="order != null">
                <if test="order.customer != null and order.customer.ID != null">
                    and customer_id=#{order.customer.ID,jdbcType=INTEGER}
                </if>
                <if test="order.orderID != null">
                    and order_id=#{order.orderID,jdbcType=VARCHAR}
                </if>
                <if test="order.orderStatus != null">
                    and order_status=#{order.orderStatus,jdbcType=INTEGER}
                </if>
                <if test="order.receiver != null">
                    and receiver=#{order.receiver,jdbcType=VARCHAR}
                </if>
                <if test="order.recevingAddr != null">
                    and receiving_addr like #{order.recevingAddr,jdbcType=VARCHAR}"%"
                </if>
                <if test="order.phone != null">
                    and phone like #{order.phone,jdbcType=VARCHAR}"%"
                </if>
                <if test="order.delivery != null">
                    and delivery=#{order.delivery,jdbcType=INTEGER}
                </if>
                <if test="order.postStatus != null">
                    and post_status=#{order.postStatus,jdbcType=INTEGER}
                </if>
                <if test="order.payStatus != null">
                    and pay_status=#{order.payStatus,jdbcType=INTEGER}
                </if>
                <if test="order.orderDate != null">
                    and order_Date=#{order.orderDate,jdbcType=TIMESTAMP}
                </if>
                <!--                <if test="remark != null">-->
                <!--                    and rem#{remark,jdbcType=VARCHAR}-->
                <!--                </if>-->
                <if test="order.orderMount != null">
                    and order_mount=#{order.orderMount,jdbcType=INTEGER}
                </if>
                <if test="order.totalPrice != null">
                    and total_price=#{order.totalPrice,jdbcType=DOUBLE}
                </if>
            </if>
            <if test="start != null">
                <![CDATA[ and order_Date >= str_to_date(#{start},'%Y-%m-%d %r')]]>
            </if>

            <if test="end != null">
                <![CDATA[ and order_Date <= str_to_date(#{end},'%Y-%m-%d %r')]]>

            </if>
        </where>
    </select>


</mapper>